body {
	background-color: #efefef;
}

.btn-right {
	float: right;
}

.content-container {
	overflow: hidden;
}

.content-wrapper {
	transition: left 2s; 
	height: 650px;
	width: 100%;
	margin: auto;
	position: relative;
	background-image: url(../images/background.png);
	background-size: 100% 100%;
	border: 3px solid black;
}

.portrait {
	border: 3px black solid;
	border-radius: 130px;
	margin: 190px;
}

.portrait-container {
	position: absolute;
	width: 100%;
}

.programming-anchor {
	margin-left: -110px;
}

.programming-btn-container {
	position: absolute;
	width: 50%;
	text-align: center;
}

.programming-content {
	padding: 10px;
	width: 100%;
	left: -100%;
	position: absolute;
}

.programming-projects {
	display: flex;
	justify-content: center;
}

.project {
	display: flex;
	flex-direction: column;
	margin: 10px;
}

.programming-swipe {
	animation-name: swipe-right;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	-webkit-animation-name: swipe-right;
	-webkit-animation-duration: 2s;
	-webkit-animation-fill-mode: forwards;
}

.image-btn{
	margin-top: 225px;
	background-color: rgba(238, 232, 170, 0.65);
	border-radius: 35px;
	cursor: pointer;
}

.home-container {
	text-align: center;
	left: 0;
}

.main-page-content {
	width: 100%;
}

.main-swipe-from-music {
	animation-name: swipe-middle-from-msc;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	-webkit-animation-name: swipe-middle-from-msc;
	-webkit-animation-duration: 2s;
	-webkit-animation-fill-mode: forwards;
}

.main-swipe-from-programming {
	animation-name: swipe-middle-from-prgm;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	-webkit-animation-name: swipe-middle-from-prgm;
	-webkit-animation-duration: 2s;
	-webkit-animation-fill-mode: forwards;
}

.more-info {
}

.more-info-btn {
	margin: 10px;
	font-size: 25px;
}

.more-info-btn-container {
	
}

.music-anchor {
	margin-right: -110px;
}

.music-btn {
	margin-left: 50%;
}

.music-content {
	padding: 10px;
	width: 100%;
	left: 100%;
	position: absolute;
}

.content-description {
	text-align: center;
	font-size: 18px;
	margin: 20px 0;
}

.music-content-nav-bar {
}

.music-content-soundcloud {
}

.music-swipe {
	animation-name: swipe-left;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	-webkit-animation-name: swipe-left;
	-webkit-animation-duration: 2s;
	-webkit-animation-fill-mode: forwards;
}

.side-content-container {
	margin: 0 auto;
    width: 80%;
	padding: 20px 100px;
	background-color: rgb(238, 232, 170);
	border-radius: 10px;
	-webkit-box-shadow: 0px 10px 20px -10px #888;
    box-shadow: 0px 10px 20px -10px #888;
}

@keyframes swipe-right {
	from {left: 0;}
	to {left: 100%;}
}

@-webkit-keyframes swipe-right {
	from {left: 0;}
	to {left: 100%;}
}

@keyframes swipe-middle-from-msc {
	from {right: 100%;}
	to {right: 0;}
}

@-webkit-keyframes swipe-middle-from-msc {
	from {right: 100%;}
	to {right: 0;}
}

@keyframes swipe-middle-from-prgm {
	from {left: 100%;}
	to {left: 0;}
}

@-webkit-keyframes swipe-middle-from-prgm {
	from {left: 100%;}
	to {left: 0;}
}

@keyframes swipe-left {
	from {right: 0;}
	to {right: 100%;}
}

@-webkit-keyframes swipe-left {
	from {right: 0;}
	to {right: 100%;}
}