:root {
  --space: 16px;
  --color-pink: #e496b5;
  --color-red: #ed1c25;
  --color-yellow: #ffe48c;
}

body {
  background-attachment: fixed;
  background-color: black;
  background-image: url("../background-textures/star-background.jpg");
  background-position: var(--bg-pos);
  background-repeat: repeat;
  background-size: calc(100vw / 3);
  margin: 0;
}

div {
  box-sizing: border-box;
}

span {
  display: inline-block;
}

a {
  color: revert;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h2 {
  color: white;
}

.banner-text {
  color: var(--color-yellow);
  font-size: 32px;
  text-shadow: -4px -4px 0px var(--color-pink), -8px -8px 0px var(--color-red);
  vertical-align: middle;
  width: fit-content;
}

.checkbox-label {
  cursor: pointer;
}

.header {
  display: flex;
}

.icon-container {
  padding: 4px 0;
}

.icon-container a {
  background-color: var(--color-yellow);
  margin-right: var(--space);
  padding: 2px;
}

.box-thing {
  background-color: var(--color-yellow);
  border: 4px double #242222;
  padding: 0 var(--space) var(--space);
  margin-bottom: var(--space);
  max-width: 600px;
}

.footer-container {
  background: var(--color-yellow);
  flex: 1 0 auto;
  padding: 8px;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.multi {
  display: flex;
  flex-direction: column;
  flex: 1 1 300px;
}

.website-box {
  border: 4px double #9200ff;
  padding: 4px 24px;
  margin: 4px 0;
  font-size: large;
  font-weight: bold;
  width: fit-content;
}

.page {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: space-between;
}

.left-side {
  flex: 1 1 auto;
  overflow: auto;
}

.right-side {
  flex: 1 1 auto;
  height: 100%;
  overflow: auto;
}