:root {
  --space: 16px;
}

body {
  background-color: #ffe48c;
  background-blend-mode: overlay;
  height: 100vh;
}

div {
  box-sizing: border-box;
}

span {
  display: inline-block;
}

a {
  color: revert;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.checkbox-label {
  cursor: pointer;
}

.header {
  display: flex;
}

.icon-container a {
  margin-right: var(--space);
}

.box-thing {
  background-color: #ffffff1c;
  border: 4px double #242222;
  padding: 0 var(--space) var(--space);
  margin-bottom: var(--space);
  max-width: 800px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.multi {
  display: flex;
  flex-direction: column;
  flex: 1 1 300px;
}

.website-box {
  border: 4px double #9200ff;
  padding: 4px 24px;
  margin: 4px 0;
  font-size: large;
  font-weight: bold;
  width: fit-content;
}