.portfolio-header-row {
  min-height: 200px;
}

.mdl-layout__title {
  font-size: 14px;
  text-align: center;
  font-weight: 300;
}

.portfolio-logo {
  background: url(../images/portrait.png) 50% no-repeat;
  background-size: cover;
  height: 150px;
  width: 150px;
  margin: auto auto 10px;
  border-radius: 50%;
}

.mdl-layout__header-row {
  justify-content: center;
  -webkit-justify-content: center;
  padding: 0;
}

.portfolio-main-content {
  max-width: 900px;
}

.card-image {
  width: 100%;
  height: auto;
}