:root {
  --space: 16px;
  --color-pink: #e496b5;
  --color-red: #ed1c25;
  --color-yellow: #ffe48c;
}

body {
  background-attachment: fixed;
  background-color: black;
  background-image: url("../background-textures/star-background.jpg");
  background-position: var(--bg-pos);
  background-repeat: repeat;
  background-size: calc(100vw / 3);
}

div {
  box-sizing: border-box;
}

span {
  display: inline-block;
}

a {
  color: revert;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h2 {
  color: white;
}

.banner-text {
  color: var(--color-yellow);
  font-size: 32px;
  text-align: center;
  text-shadow: -4px -4px 0px var(--color-pink), -8px -8px 0px var(--color-red);
  vertical-align: middle;
}

.checkbox-label {
  cursor: pointer;
}

.header {
  display: flex;
}

.icon-container a {
  background-color: var(--color-yellow);
  margin-right: var(--space);
}

.box-thing {
  background-color: var(--color-yellow);
  border: 4px double #242222;
  padding: 0 var(--space) var(--space);
  margin-bottom: var(--space);
  max-width: 800px;
}

.footer-container {
  background: var(--color-yellow);
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.multi {
  display: flex;
  flex-direction: column;
  flex: 1 1 300px;
}

.website-box {
  border: 4px double #9200ff;
  padding: 4px 24px;
  margin: 4px 0;
  font-size: large;
  font-weight: bold;
  width: fit-content;
}